* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.profile,
.what-are-we, 
.sign-up {
  display: flex;
  height: 92.6vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.profile {
  background-image: url('./images/img-1.jpg');
  -webkit-background-size: cover;  
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.social-menu {
  color: #fff;
  align-items: center;
  height: 92.6vh;
  background-image: url('./images/img-3.jpg');
}

.equips {
  color: rgb(0, 0, 0);
  align-items: center;
  height: 92.6vh;
  background-image: url('./images/img-3.jpg');
  display: grid;
  width: 100%;
  place-items: center;
}

.what-are-we {
  background-image: url('./images/img-1.jpg');
  -webkit-background-size: cover;  
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.tic {
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.sign-up {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
